@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    background-color: theme('colors.lightBlue');
    height: 100vh;
    min-width: 100px;
    padding: 0rem 2rem 5rem 2rem;
}
.budgie {
    background-image: url("/sidebar/rectangle.png");

}
.hr {
    border-top: 1px solid theme('colors.horizontal');
    min-width: 50px;
}
.tab-box {
    min-width: 340px;
    padding: 1rem;
    min-height: 100vh;
}
.save-btn {
    width: 150px;
    height:48px;
    border-radius: 8px;
    border: 1px;
    color: theme("colors.btnColor");
    border: 1px solid theme("colors.btnColor");

}
input[type="text"]{
    width: 100%;
    height: 40px;
    border-radius: 20px; 
    padding-left: 2rem;  
}
input:focus{
    border-color: red;
    outline: none;
}
input::placeholder{
    color: theme("colors.blueText")
}
.search-image{
    transform: translate(10px, 30px);
    
}
.selected{
   background-color: theme('colors.darkblue');   
}
.tabs-width{
    width:45px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
}
.green-dot{
    width:10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    bottom: 5px;
    right:0px
 }